.parent{
    width: 70vw;
    border: 5px solid black;
    height: 600px;
    background-color: moccasin;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* align-content: space-around; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-content: flex-end; */
    /* align-content: center; */
    align-content: space-around;
    
    
}
div{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    font-size: 26px;
    font-style: italic;
    /* flex-grow: 8; */
    /* order: 5; */
    
}
div:nth-of-type(2){
    align-self: center;
}
div:nth-of-type(5){
    flex-basis: 250px;
    flex-grow: 1;
    flex-shrink: 4;

}
div:nth-of-type(1){
    flex-grow: 1;
    flex-shrink: 1;
}
/* div:nth-of-type(3){
    flex-grow: 2;
} */