.container{
    height: 90%;
    width: 90%;
    border: 2px solid black;
    background-color: lightskyblue ;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-areas: "header header header"
                        "nav1 main nav2"
                        "nav1 main nav3"
                        "footer footer footer";
}
body{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}
.header{
    background-color: chocolate;
    grid-area: header;
}
.main{
    background-color: blueviolet;
    grid-area: main;
}
.nav1{
    background-color: rgb(43, 122, 226);
    grid-area: nav1;
}
.nav2{
    background-color: rgb(211, 43, 226);
    grid-area: nav2;
}
.nav3{
    background-color: rgb(228, 226, 230);
    grid-area: nav3;
}
.footer{
    background-color: rgb(226, 43, 67);
    grid-area: footer;
}