/* body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
} */

/* @media print {
    body{
        background-color: lightgreen;
    }
} */

/* @media screen and (max-width:800px){
    body{
        background-color: lightcoral;
    }
} */
/* @media screen and (min-width:200px) {
    body{
        background-color: orchid;
    }
} */

/* max-width case */

/* @media screen and (max-width:800px) {
    body{
        background-color: coral;
        
    }
}
@media screen and (max-width:600px) {
    body{
        background-color: lightseagreen;
    }
} */

section{
    margin: 30px auto;
    width: 60%;
    border: 2px solid black;
    padding: 20px;

}
div p{
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

/* max-width case */
/* @media screen and (max-width: 800px){
    h2{
        color: chocolate;
    }
}

@media screen and (max-width: 600px){
    h2{
        color: lightseagreen;
    }
} */

/* min-width case */

/* @media screen and (min-width: 649px){
    h2{
        color: chocolate;
    }
}

@media screen and (min-width: 807px){
    h2{
        color: lightseagreen;
    }
} */

/* @media all and (orientation: landscape){
    h2{
        color: yellow;
    }
}

@media all and (orientation: portrait){
    h2{
        color: palevioletred;
    }
} */

@media screen and (orientation: landscape) , (max-width:600px) {
    h2{
        color: rgb(0, 255, 51);
    }
}